[Desktop Entry]
Name=Bloodgram Desktop
Comment=Desktop version of Bloodgram - ToS breaking Telegram client
TryExec=Bloodgram
Exec=env DESKTOPINTEGRATION=1 Bloodgram -- %U
Icon=com.bloodgram.desktop
Terminal=false
StartupWMClass=Bloodgram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Bloodgram -quit
Name=Quit Bloodgram
Icon=application-exit
